@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1, p{
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    font-size: 2em;
}